graphs/*
!graphs/shared/
maps/
UMassWork/
DaymetClimateData/
modelPredictionTimeseries/
.Rproj.user
.Rhistory
.RData
*.jpg
*.jpeg
*.pdf
*.tiff
*.tif
*.eps
nlme.RData
gamm.RData
*.Rhistory
.Rapp.history
dataIn/nlme.RData
gamm2.RData
